body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

th,
td {
  width: 100px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 15px;
  padding: 2%;
}
